<div style="text-align: center">
  <h1>Dados do Produto</h1>
</div>

<div style="margin-left:10%;margin-top:5%;float:left">
  <div *ngIf="prodSelec.dimensao.comprimento.min>-1">
    <p>Comprimento [{{prodSelec.dimensao.comprimento.min}} - {{prodSelec.dimensao.comprimento.max}}]: <input name="comp" type="number" 
    [(ngModel)]="comprimento" [(value)]="comprimento" (ngModelChange)="setComp(comprimento)"required></p>
    <button (click)="setComp(comprimento)">Atribuir Comprimento</button>
  </div>

  <div *ngIf="prodSelec.dimensao.largura.min>-1">
    <p>Largura [{{prodSelec.dimensao.largura.min}} - {{prodSelec.dimensao.largura.max}}]: <input name="larg" type="number" 
    [(ngModel)]="largura" [(value)]="largura" (ngModelChange)="setLarg(largura)"required></p>
    <button (click)="setLarg(largura)">Atribuir Largura</button>
  </div>

  <div *ngIf="prodSelec.dimensao.altura.min>-1">
    <p>Altura [{{prodSelec.dimensao.altura.min}} - {{prodSelec.dimensao.altura.max}}]: <input name="alt" type="number" 
    [(ngModel)]="altura" [(value)]="altura" (ngModelChange)="setAlt(altura)"required></p>
    <button (click)="setAlt(altura)">Atribuir Altura</button>
  </div>


  <h2>Escolha um Material:</h2>
  <section>
    <article class="material" *ngFor="let material of matSelect">
      <header><h3>{{material.nome}}</h3><button (click)="selectMaterial(material, $event)">Escolher</button></header>
    </article>
  </section>
  <br>
  <a routerLink='/trata-filhos'><button (click)="transferItemProduto()">Confirmar</button></a>


</div>

<div style="margin-right:10%;margin-top:5%;float:right">

  <div *ngIf="userSelec">
    <h1>Utilizador Selecionado:</h1>
    <p>Nome: {{userSelec.nome}}</p>
  </div>

  <div *ngIf="prodSelec">
    <h1>Produto Escolhido:</h1>
    <p>Nome: {{prodSelec.nome}}</p>
    <p>Descrição: {{prodSelec.descricao}}</p>
    <p>Preço: {{prodSelec.preco}}</p>
    <p>Categoria: {{prodSelec.categoria}}</p>
    <p>Comprimento: {{comprimento}}</p>
    <p>Largura: {{largura}}</p>
    <p>Altura: {{altura}}</p>
  </div>

  <div *ngIf="matSelect">
    <h3>Materiais</h3>
    <div *ngFor="let material of matSelect; let nMat = index">
      <p>Material {{nMat + 1}}</p>
      <p>Nome: {{material.nome}}</p>
    </div>
  </div>

</div>

<div style="margin-right:10%; margin-top:5%; margin-left:10%; float:right" >

  <div *ngIf="mSelect.length>0">
    <h3>Materiais Selecionados</h3>
    <div *ngFor="let material of mSelect; let nMat = index">
      <p>Nome: {{material.nome}}</p>
    </div>
  </div>

</div>